.footer {
  background-color: var(--brown);
  color: var(--white);
  font-size: 16px;
}

.footer_items {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.footer_item-list {
  padding: 0;
}

.footer_item-list_item {
  padding-bottom: 15px;
}

.footer_item-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--orange);
}

.footer_subcription-form {
  display: flex;
  position: relative;
}

.footer_form-input {
  width: 100%;
  color: var(--white);
  border: none;
  border-radius: 25px;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer_form-button {
  border: none;
  border-radius: 25px;
  color: var(--white);
  background-color: var(--orange);
  padding: 10px 20px;
  position: absolute;
  right: 10px;
  top: 5px;
}
